
<div class="modal fade" id="modalCreateUniversity" tabindex="-1" aria-labelledby="{{form.label}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="{{form.label}}">{{form.title}}</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                 
            </div>

            <div class="modal-body container-fluid">
                <form action="{{form.action}}" method="{{form.method}}" class="row">

                    <div class="form-floating col-12 mb-3">
                        <input class="form-control" name="name" id="inputName" type="text" value="{{data.name}}" />
                        <label for="inputName">Nombre</label>
                    </div>

                    {{#if address}}
                    <div class="form-floating col-12 mb-3">
                        <select class="form-control" name="adressId" id="address">
                            <option selected>Selecciona una opción</option>
                            {{#each address}}
                            <option value="{{this.id}}">{{this.description}}</option>
                            {{/each}}
                        </select>
                        <label for="address">Dirección</label>
                    </div>

                    {{else}}
                    <p class="form-control">Debes crear direcciones</p>
                    {{/if}}

                    <div class="d-flex gap-3 justify-content-end">
                         
                        <button type="submit" class="btn btn-primary">
                            <i class="{{form.submit.ico}}"></i>
                            {{form.submit.text}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
